/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below! */
/*============BASESTYLES============*/
html{
  padding: 1.222em; /* 22px / 18px = 1.222em */
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em; /* 16px = 1em ->18px / 16px = 1.125em */
  line-height: 1.222em; 
  background: url(../images/background.jpg) no-repeat center center; 
  }

body{
  margin: 4.5em; /*1.125em * 4 = 4.5 */
  padding: 1.222em;
  font-style: 'Roboto';
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 0.5625em; /* 1.125em / 2 */
}

h1{
  padding: 0.611em 0 0.611em 1.222em; /*1.222/2 = 0.611em*/
  font-size: 2.25em; /*1.125 * 2 = 2.25em*/
  font-style: italic;
  font-weight: bold;
  color: #7A6A72;
}

h2{
  padding: 0.611em 0 0.611em 1.222em; /*1.222/2 = 0.611em*/
  margin: 0.611em 0 0.611em 0;
  font-size: 2.25em; /*1.125 * 2 = 2.25em*/
  text-align: center;
  color: #5E5D6A;
}

p{
  text-align: center;
  padding: 0.611em 0.611em 0.611em 0.611em; /*1.222/2 = 0.611em*/
  margin: 0.611em 0 0.611em 0;
  max-width: 100%;
  color: #5E5D6A;
}

nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 1.125em;
    }

nav ul{
  background-color: #94888A;
  width: 100%;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #7A6A72;
    text-decoration: none;

}

/* selected link */
a:selected {
    color: #7A6A72;
    text-decoration: underline #7A6A72;
}

main {
  
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

div {
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  display:flex;
  
}

article {
  flex-wrap: wrap;
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  margin: 0.3125em 0.3125em 0.3125em 0.3125em;
}


article figcaption{
  font-size: 0.625em;
  text-align: center;

}

article ul {
  padding: 0.3125em 0.625em 0.3125em 0.625em;
}

nav ul{
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  margin: 0.3125em 1.125em 0.3125em 1.125em;
}

nav ul li{
  margin: 0.3125em 1.125em 0.3125em 1.125em;
}

footer{
  font-size: 0.625em;
  text-align: center;
}




/*============MODULAR STYLES============*/
.pagetitle{
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
}

#cocopic{
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.travel div article figure img{
  width: 25vw;
}


/*============MEDIA QUERY=============*/
@media screen and (max-width: 1120px){
  div{
    flex-direction: column;
  }
}
